<h1>Adventures</h1>

<h1>Name: {{this.name}}</h1>
<h1>Type: {{this.type}}</h1>
<h1>Location: {{this.location}}</h1>
<h1>Description: {{this.description}}</h1>
<img src="{{this.img}}">

<a href="/edit/{{id}}">edit</a>

<form action="/{{id}}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>